<!--<body class="hold-transition login-page">-->
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Test</b>API</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form method="post" [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value, loginForm.valid)">
      <div [ngClass]="{'form-group':true,'has-feedback':true,'has-error': (submitted && loginForm.controls.email.errors?.email)}">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span *ngIf="(submitted && loginForm.controls.email.errors?.email)" class="help-block">Enter Valid Email</span>
      </div>
     
      <div [ngClass]="{'form-group':true,'has-feedback':true,'has-error': (submitted && loginForm.controls.password.errors)}">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span *ngIf="submitted && loginForm.controls.password.errors" class="help-block">Password Is Required</span>
      </div>
      
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button [disabled]="loading" type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!--</body>-->